Hello <%= session[:fbuser]['first_name'] %>!

<h2><%= link_to "Want to make your own battery?", Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => oauth_url) %></h2>

<h2> about! </h2>

<p> /Energy is a way to keep track of your own energy throughout the week. I figured out that I was exhausting myself by not paying enough attention to how I was doing. Instead of being about "enough?" it's just: am I doing better, worse, or about the same as yesterday. </p>
<p> Batteries courtesy of PixelsDaily (and modified by me). Originals are <a href="http://pixelsdaily.com/resources/photoshop/psds/flat-battery-icon-pack/">here</a></p>
