// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container

{
        margin-left: auto;
        margin-right: auto;
        width: 750px;
}


.button {
    background-color: #7D1717;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;   
    border-bottom-right-radius:20px;
    width: 200px;
    padding-bottom: 10px;
    color: white;
}

.button a:link {
    color: white;
}



#footer {
    font-size: 10px;
    padding-top: 20px;
}